[submodule "subprojects/entt"]
	path = subprojects/entt
	url = https://github.com/skypjack/entt.git
[submodule "subprojects/box2d"]
	path = subprojects/box2d
	url = https://github.com/erincatto/box2d.git
